* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--white: #fff;
	--black: #000;
	--lightBlack: #2c2c2c;
	--main: #ff6e68;
}
.dark-theme {
	--main-heading: #5f99be;
	--para-clr: #fff;
	--btn-bg-color: #5f99be;
	--btn-text-clr: #ffffff;
	--bg-clr: #5f99be;
	--bg-btn: #ff6e68;
	--table-bg: goldenrod;

	--header: #c2d2bd;
	--background: #d1adcc;
	--cardbg: #5f2c3e;
	--mainhead: #f6e9d7;
	--tablebg: #f6e9d7;
	--subheading: #c65032;
}
.light-theme {
	--main-heading: #5f99be;
	--para-clr: #333;
	--btn-bg-color: #111b20;
	--btn-text-clr: #fff;
	--bg-clr: #fff;
	--bg-btn: #fff;
	--tablebg: #fff;
	--table-bg: #fff;

	--header: #fff;
	--background: #fff;
	--cardbg: #fff;
	--mainhead: #333;
	--subheading: #333;
}
.ant-card, .ant-card-actions{
	background-color: var(--cardbg);
	/* border-color: var(--bg-btn); */
	border: none;
	border-radius: 8px;
}
.ant-card-meta-title{
	color: var(--mainhead);
}
.ant-card-meta-description{
	color: var(--subheading);
}
h1,h2,h3,h4,h5,h6,p{
	color: var(--subheading);
}
.detail-page{
	/* border: 1px solid var(--bg-btn); */
	padding: 1%;
	background-color: var(--tablebg);
}
.detail-page b{
	color: var(--subheading) !important;
}
.ant-table-tbody > tr > td{
	background-color: var(--tablebg);
}
.ant-table-tbody > tr > td:hover{
	background-color: var(--mainhead);
}
.ant-page-header{
	background-color:var(--header);
	color:var(--subheading);
}
.ant-btn-dangerous.ant-btn-primary[disabled]{
	background-color: var(--cardbg);
	color: var(--mainhead)
}



body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--background);
}
.site-page-header-ghost-wrapper {
  /* border-bottom: 1px solid rgb(235, 237, 240); */
  border-bottom: 1px solid --btn-text-clr;
  background-color: --white;

	width: 100%;
	/* height: 70px; */
	box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
	position: fixed !important;
	top: 0;
	z-index: 1;
}
.w-80{
  width: 80%;
  margin: 5% auto;
}
.header{
  background: url('./images/banner.webp');
	width: 100%;
	height: 100vh;
  background-size: cover;
}
.basket {
	position: relative;
}
.basket span {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -7px;
	top: -27px;
	width: 25px;
	height: 25px;
	background: var(--lightBlack);
	border-radius: 50%;
	color: var(--white);
	font-size: 12px;
}
.detailImg{
	width: 100%;
	height: 80vh;
  	object-fit: cover;
}
.detailImg1{
	  width: 80%;
	  height: 80vh;
		object-fit: cover;
  }
.line-through{
  text-decoration: line-through;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.pad-5{
  padding-top: 5%;
}
.black, .pad-5>b{
  font-size: 20px;
  /* color: #fff; */
  color: var(--para-clr);
  font-weight: 400;
}
.cardProd {
	width: 100%;
	/* height: 350px; */
	overflow: hidden;
}
.prod__img{
	width: 100%;
	height: 100%;
	transition: all 0.5s linear;
}

.prod__img:hover{
	transform: scale(1.2);
}

.toggle-theme-wrapper {
	margin-left: -15%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
  }
  
  .toggle-theme-wrapper span {
	font-size: 23px;
  }
  
  .toggle-theme {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 55px;
  }
  
  .toggle-theme input {
	display: none;
  }
  .slider {
	background-color: #ccc;
	position: absolute;
	cursor: pointer;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transition: 0.2s;
  }
  
  .slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 22px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 22px;
  }
  
  input:checked + .slider:before {
	transform: translateX(26px);
  }

  input:checked + .slider {
	background-color: cornflowerblue;
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }  